.invalid {
    border: 2px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .dark-mode {
    background-color: #000000;
    color: #fcfcfc;
  }
  
  .dark-mode input,
  .dark-mode textarea {
    background-color: orange;
    color: #f7f4f4;
  }
  
  .dark-mode .error-message {
    color: red;
  }
  